:root {
    --orange: #FFA500;
    --sky-blue: #87CEEB;
    --lavendar: #E6E6FA;
    --white: #FFFFFF;
    --lightpink: #ffb6c1;

}

body {
    margin:0;
    padding:0;
    background:var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color:var(--orange);
    padding: 30px 35px;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    color:var(--white);
    text-align: center;
    padding:20px;
    margin:0;
    display: inline;
}

li {
    list-style-type: none;
    text-align: 1;
}

#contact-info {
    width:30%;
    float:right;
}
.container {
    margin: 0 auto;
    width: 1024px;
}
#bio-image {
    float:left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
a {
    color: blue;
}

header a {
    text-decoration: none;
    color:whitesmoke;
    font-size: larger;
}

header nav {
    float: right;
    margin: 5px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    background:skyblue;
    width: 100%;
    padding: 20px 35px;
    position: relative;
    bottom: 0;
    height: 100px;
}

footer h2 {
    display:inline;
    color:var(--white);
    font-size: 20px;
    margin: 0;
}

footer div {
    float: right;
    line-height: l.5;
    text-align: right;
    }

footer a {
    color:royalblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 60px;
} 

.hero {
    background-image: url("file:///Users/banthamac/Downloads/AdobeStock_211109015%20(1).jpeg");
    background-repeat: no-repeat;
    position: bottom;
    background-size: cover;
    height: 400px;
}

.hero-form {
    background-color:var(--lavendar) ;
    color:var(--white);
    width: 400px;
    height: 100px;
    padding: 40px;
    border: solid 4px;
    border-color:var(--white);
    position: absolute;
    text-align: center;

}

.intro {
    text-align: center;
}


.intro p {
    line-height: 1.7;
    color: orange;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    vertical-align: text-bottom;
}

.intro img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: static;
   

    
}

.progress {
    text-align: center; 
    background: skyblue;
}

.progress div {
    margin-bottom: 80px;
}

.progress img {
    width: 15%;
    margin: 10px 0;
}

.progress h3 {
    color: skyblue;
    font-size: 46px;
    margin-top: 10px;
}

.progress p {
    color: lavender;
    font-size: 23px;
}

.progress span {
    font-size: 38px;
}

.section-title {
    font-size: 55px;
    color: orange;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border-color:var(--sky-blue);
}

.secondary-border {
    border-color:var(--white);
}

.info {
    text-align: center;
}

.info ul {
    text-align: center;
    color:var(--orange);
}

.info a {
    display: inline;
}

.project1, .project2, .project3, .project4 {
    border:solid var(--white);
}

.project1, .project3 {
    background-color: orange;
    flex-shrink: 2;
  
}

.project2, .project4 {
    background-image: url("AdobeStock_211109015 (1).jpeg");

    
}

.projects {
    display: flex;
    justify-content:space-evenly;

}





